body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}
.centered {
  width: 50%;
  margin: 0 auto;
}
input {
  margin: 3px;
  border: 3px solid grey;
  border-radius: 30px;
  background-color: lightgrey;
}
input.button {
  border-color: green;
}
@keyframes glowing {
  0% { border-color: #2ba805; }
  50% { border-color: #49e819; }
  100% { border-color: #2ba805; }
}
input.active {
  animation: glowing 1300ms infinite;
}
